<div class="container mt-4">
    <h2 class="text-white mb-4">Foglalások kezelése</h2>

    <div class="table-responsive">
        <table class="table table-dark table-hover table-striped border-secondary">
            <thead>
                <tr class="text-info">
                    <th>#ID</th>
                    <th>Kezdés</th>
                    <th>Vége</th>
                    <th>Ár (Ft)</th>
                    <th>Borbély</th>
                    <th>Vendég</th>
                    <th>Művelet</th>
                </tr>
            </thead>
            <tbody>
                @for(res of reservations; track res.id) {
                    @if (res.active == 1) {
                        
                        @if ((auth.role() == 'user' && res.customer_id == auth.id()) || (auth.role() == 'barber' && res.barber_id == auth.id())) {
                            
                            <tr>
                                <td class="fw-bold">#{{res.id}}</td>
                                <td>{{res.start_time}}</td>
                                <td>{{res.end_time}}</td>
                                <td>{{res.price}}</td>
                                <td>{{res.barber_id}}</td>
                                <td>{{res.customer_id}}</td>
                                <td>
                                    <button class="btn btn-outline-danger btn-sm" (click)="setInactive(res.id)">
                                        <i class="bi bi-x-circle me-1"></i> Lemondás
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>