<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-secondary">
  <div class="container">
    <a class="navbar-brand fw-bold text-uppercase tracking-widest" routerLink="/">
      <i class="bi bi-scissors me-2"></i>Barbershop
    </a>

    <div class="d-flex align-items-center">
       @if ((selection.currentUser$ | async)?.role === 'user' || (selection.currentUser$ | async)?.role === 'barber' ) {
          <a class="nav-link text-white-50 me-3" routerLink="/lista">Foglalások</a>
       }

       @if ((selection.currentUser$ | async)?.role === 'admin') {
        <a class="nav-link text-white-50 me-3" routerLink="/admin">Admin panel</a>
       }
      
      @if (selection.loggedIn == false) {
        <button class="btn btn-outline-light btn-sm px-4 fw-bold mx-2" data-bs-toggle="modal" data-bs-target="#loginModal">
          Bejelentkezés
        </button>
      }@else {
        <button (click)="setRole(null)" class="btn btn-outline-light btn-sm px-4 fw-bold mx-2">Kijelentkezés</button>
      }
      
      <button class="btn btn-outline-light btn-sm px-4 fw-bold" data-bs-toggle="modal" data-bs-target="#serviceModal">
        IDŐPONT FOGLALÁS
      </button>
    </div>
  </div>
</nav>

<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white border-secondary">
      <div class="modal-header border-secondary">
        <h1 class="modal-title fs-5" id="serviceModalLabel">Válasszon szolgáltatást</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          @for(service of services; track service.id) {
          <button 
            type="button" 
            (click)="selectService(service)"
            class="list-group-item list-group-item-action bg-dark text-white border-secondary d-flex justify-content-between align-items-center mb-2 rounded"
            [class.active-service]="selectedService?.id === service.id"
            data-bs-dismiss="modal">
            
            <div>
              <div class="fw-bold">{{service.service}}</div>
              <small class="text-secondary">{{service.required_time.split(':')[1]}} Perc</small>
            </div>
            <span class="badge bg-warning text-dark">{{service.price}} Ft</span>
          </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
<!-- serviceModal vége -->

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginModalLabel">Teszt üzemmód</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="p-3 bg-warning text-dark shadow" style="z-index: 9999; width: fit-content;">
          <small>Teszt Üzemmód:</small>
          <button (click)="setRole('user')" class="btn btn-sm btn-dark mx-1" data-bs-dismiss="modal">User</button>
          <button (click)="setRole('barber')" class="btn btn-sm btn-success mx-1" data-bs-dismiss="modal">Barber</button>
          <button (click)="setRole('admin')" class="btn btn-sm btn-danger mx-1" data-bs-dismiss="modal">Admin</button>
          
        </div>
      </div>
    </div>
  </div>
</div>