::ng-deep .cal-week-view .cal-day-column .cal-hour-segment.bg-disabled,
::ng-deep .cal-day-view .cal-hour-segment.bg-disabled,
::ng-deep .cal-event.bg-disabled {
    background-color: #e9ecef !important;
    opacity: 0.7 !important;
    border: 0.5px solid #dee2e6 !important;
}

::ng-deep .cal-week-view .cal-day-column .cal-hour-segment.bg-disabled,
::ng-deep .cal-event.bg-disabled,
::ng-deep .bg-disabled {
    cursor: default !important;
}

::ng-deep .cal-event.bg-disabled {
    color: transparent !important; 
    box-shadow: none !important;
    opacity: 0.7 !important;
}

::ng-deep .bg-disabled {
    background-color: #e9ecef !important;
    pointer-events: auto !important; 
    opacity: 0.7 !important;
}

